/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


:root{
    /* colors */
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#faf4f5;
    --medium-gray-color:#ccc;

    /* Font Size */

    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-1:1.5rem;
    --font-size-x1:2rem;
    --font-size-xx1:2.3rem;


    /* font weight */

    --font-weight-normal:400;
    --font-weight_medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /* Border radius */

    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /* site max width */
    --site-max-width:1300px;
}



/* styling for whole site */
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;

}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width:var(--site-max-width) ;
}

.section-title{

    text-align: center;
    padding: 60px 0px 100px;
    text-transform: uppercase;
    font-size: large;
    display: block;
    border-radius: 40px;

}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background-color: darkblue;
    border-radius: 50px;

}


/* Navbar style */
header{
    background-color: #0A2540;
    position: fixed;
    width:100%;
    z-index: 5;
    background-color: #0A2540;

}


header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}


.navbar .nav-logo .logo-text{
    color: #fff;
    font-size: medium;
    font-weight: 600;
    
}

.navbar .nav-menu{
    display: flex;
    gap: 1;
}
.navbar .nav-menu .nav-link{
    color: #fff;
    padding: 10px 20px;
    font-size:medium;
    transition: 0.1s ease;
    
}

.nav-menu :hover {
color: #fff;
background:skyblue;
border-radius: 50px;
}

  .navbar :where(#menu-close-button , #menu-close-button){
    display: none;
  }

.hero-section{
    min-height:100vh;
    background-color: #0A2540;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
}


.hero-section .hero-details .title{

    font-size: xx-large;
    color: skyblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-section .hero-details .subtitle{
    font-size: larger;
    max-width: 80%;
    margin-top: 10px;
    font-weight:900;
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 20px 0 40px;
    font-size: medium;
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button{
    padding: 10px 20px;
    color: #0A2540;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: skyblue;
    font-weight: 900;
    transition: 0.3 ease;

}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{

    color: #fff;
    border-color: #fff;
    background: transparent;
}

.hero-section .hero-details .contact-us:hover{

    color:#0A2540;
    border-color:#fff;
    background: skyblue;
}


.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}

/* About us Section */

.about-sections{
    padding: 120px 0;
    background-color: rgb(255, 255, 255);
}

.about-sections .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-sections  .about-image-wrapper .about-image{

  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 200px;
}


.about-sections .about-details .text{

    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: medium;
}
.about-sections .about-details{
    max-width: 50%;
}

.about-sections .about-details .section-title{
    padding: 0;

}

.about-sections .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-sections .social-link-list .social-link{
    color: #0A2540;
    font-size: large;
    transition: 0.2s ease;
}

/* Menu Section */

.menu-section{
    color: #fff;
    background-color:#0A2540;
}

.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 110px;

}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}



.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
}

.menu-item p{
    margin-top: 10px;
}


/* Testimonial website */

.testinomail-section{
    padding: 50px 0 100px;
    background-color: rgb(249, 241, 241);
}

.testinomail-section .testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;

}


.testinomail-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 90px;
    margin-bottom: 50px;
}

.testinomail-section .testimonial .name{
    margin-bottom: 16px;
    font-size:medium;
}


.testinomail-section .testimonial .feedback{
    line-height: 25px;

}
  
/* contact us */

.contact-section{
    background-color: #faf4f5;
    padding: 50px 0 100px;

}

.contact-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info{

    display: flex;
    gap: 20px;
    margin: 20px 0px;
    align-items: center;

}


.contact-section .contact-form .form-input {

    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--medium-gray-color);
    border-radius: 10px;
    padding: 12px;
    outline: none;
    margin-bottom: 16px;
}

.contact-section .contact-form textarea.form-input {

    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button{
    padding: 10px;
    background-color:#0A2540;
    color: #fff;
    border-radius: 50px;
}


/* footer section */

.footer-section{
    padding: 20px 0;
    background-color:#0A2540;
}

.footer-section :where(.copyright-text, .social-link, .policy-link)
{
    color: #fff; 
}

.copyright-text{
    
    align-items: center;
    
}


/* Responsive media query code for max-width 1024px. */


@media screen and (max-width:1024px) {

    .menu-section .menu-list{
        gap: 60px;
        font-size: large;
        font-weight: 600;
        padding: 50px 0 100px;

    }


    .menu-section .menu-list .menu-item .text {
        font-size: medium;
    }


    
}



/* Responsive media query code for max-width 900px. */

@media screen and (max-width:900px) 

{

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 920px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: #fff;
        
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.2);
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar :where(#menu-close-button , #menu-close-button)
{
    font-size: medium;
    display: block;
}

    .navbar #menu-close-button{
        position: absolute;
        right: 50px;
        top: 40px;
    }
  
     .navbar #menu-open-button{
        color: #fff;
     }

    .navbar .nav-menu .nav-link{
        color:black;
        margin-top:15px;
        display: block;
        font-size: medium;
    }

    .hero-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
    }

    .hero-section .hero-details :is(.subtitle,.description),.about-sections .about-details .contact-section .contact-form    {
        max-width: 100%;

    }

    .hero-section .hero-details .buttons{
    justify-content: center;
    
    }
    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right:0;

    }

    .about-sections .section-content{
        flex-direction: column;
        gap: 70px;
    }

    .about-sections .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }


    .menu-section .menu-list{
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 2 - 60px);
    }
    
    .menu-section .menu-list .menu-item .menu-image {
        max-width: 200px;
    }
}

@media screen and (max-width:640px) {

    .menu-section .menu-list{
        gap: 60px;
    }

    .menu-section .menu-list .menu-item{
        width: 100%;
    }

    .contact-section .section-content {
        flex-direction: column-reverse;
        align-items: center;


    }
}